.taskInput {
  margin-bottom: 20px;
}

.tasksApp {
  width: 90%;
  height: 90%;
  position: relative;
  background-color: #ebefec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
